@model MVBusService.Models.driver

@{
    ViewBag.Title = Resources.MVTranslations.editDriverHeading + ViewBag.driverName;
}

<h2>@Model.fullName</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Resources.MVTranslations.driver</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.driverId)

        <div class="form-group">
            @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.firstName)
                @Html.ValidationMessageFor(model => model.firstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lastName)
                @Html.ValidationMessageFor(model => model.lastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.homePhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.homePhone)
                @Html.ValidationMessageFor(model => model.homePhone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.workPhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.workPhone)
                @Html.ValidationMessageFor(model => model.workPhone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.street, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.street)
                @Html.ValidationMessageFor(model => model.street)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.city, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.city)
                @Html.ValidationMessageFor(model => model.city)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.postalCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.postalCode)
                @Html.ValidationMessageFor(model => model.postalCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.provinceCode, null, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("provinceCode")
                @Html.ValidationMessageFor(model => model.provinceCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dateHired, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dateHired)
                @Html.ValidationMessageFor(model => model.dateHired)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@Resources.MVTranslations.edit class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Resources.MVTranslations.backToList, "Index")
</div>
